{% extends 'base.html.twig' %}

{% block title %}
	Inscription utilisateur!
{% endblock %}

{% block body %}
<div class="container h-75">
    <div class="row h-100 justify-content-center align-items-center">
        {{ form_start(formSignUp,{'attr':{'class':'class="col-sm-8 col-md-6  control-label center-block mx-auto'}}) }}

            <legend class="h1 mt-4">Inscrivez-vous</legend>
            <p class="mb-4"><em>Rejoignez-nous, partagez votre expériences et vos plus belles figures !</em></p>

            {{ form_row(formSignUp.username,{'label': 'Nom d\'utilisateur ','attr':{'placeholder': 'Nom d\'utilisateur...'}}) }}

            {{ form_row(formSignUp.email,{'label': 'Adresse email ','attr':{'placeholder': 'Adresse email'}}) }}

            {{ form_row(formSignUp.password,{'label':'Mot de passe ', 'attr': {'placeholder':'Mot de passe !'}}) }}

            {{ form_row(formSignUp.picture,{'attr':{'class':"form-control-file"}}) }}

            <button type="submit" class="btn btn-dark"><i class="fas fa-user-plus"></i> Je m'inscris !</button>
            
        {{ form_end(formSignUp) }}
    </div>
</div>

{% endblock %}
