{% extends 'base.html.twig' %}

{% block title %}Modification de la figure
	{{figure.name}}
{% endblock %}

{% block body %}

	<section class="container-fluid ">
	<div class="row">
		{{ form_start(figure_form,{'attr':{'class':'col-offset-md-3 col-md-6  col-offset-md-3  control-label m-auto'}}) }}

			<legend class="h1 my-5">{{figure.name}}</legend>
<<<<<<< HEAD
=======
			
>>>>>>> 71f1d05e8d7c42c54f16018cce184a1116e1fa07
			{{form_row(figure_form.description)}}
			{{form_row(figure_form.figureGroupe)}}

			<div id="containerIllustrations">
				<ul id="ulIllustrations" class="illustrations d-flex justify-content-around flex-wrap text-center" data-prototype="{{ form_widget(figure_form.illustrations.vars.prototype)|e('html_attr') }}">
					{% for illustration in figure_form.illustrations %}
					<li class="col-md-6 ">
						<img src="../images/figures/illustrations/{{ illustration.vars.data.path }}" class="m-1 rounded border"style="height:100px; width:150px;"/>
						{{ form_row(illustration.file) }}
					</li>
					{% endfor %}
				</ul>
				<button type="button" class="add_item_link_illustration btn btn-secondary my-2" data-collection-holder-class="illustrations">Ajouter une illustration</button>
			</div>

			<div id="containerVideos">
				<ul id="ulVideos" class="videos d-flex justify-content-around flex-wrap text-center" data-prototype="{{ form_widget(figure_form.videos.vars.prototype)|e('html_attr') }}">
					{% for video in figure_form.videos %}
					<li class="col-md-6">
						{% if video.vars.data is empty %}
							{{ form_row(video.path,{'attr':{'placeholder':"https://www.youtube.com/watch?v="}}) }}
						{% else %}
							{{ form_row(video.path,{'attr':{'value' : ('https://www.youtube.com/watch?v=' ~ video.vars.data.path) }}) }}
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				<button type="button" class="add_item_link_video btn btn-secondary my-2" data-collection-holder-class="videos">Ajouter une vidéo</button>
			</div>

			<button type="submit" class="btn btn-dark my-3">Enregistrer les modifications</button>

		{{ form_widget(figure_form._token) }}
		{{ form_end(figure_form, {'render_rest': false}) }}
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="../build/app.js/ManagementCollectionForm.js"></script>
	<script type="text/javascript" src="../build/app.js/addIllustrations.js"></script>
	<script type="text/javascript" src="../build/app.js/addVideos.js"></script>	
{% endblock %}
