{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}



{% block body %}
	<section id="conteneurPresentation" class="" style="height:95vh;">
		<img src="/images/welcome.jpg" class="position-absolute w-100" style="z-index:-1;top:0;height:100vh;" />
		<div class="position-relative text-center h-100" >
			<div class=" d-flex flex-column justify-content-center h-50" style="text-shadow: black 1px 0 1px;">
				<h1>SnowTricks !</h1>
				<p class="h5">Découvrez le <strong>Snowboard</strong> et apprenez les différentes figures avec Jimmy Sweat et la communauté.</p>
			</div>
			<div class=" d-flex flex-column justify-content-end" style="height:40%;" >
				<a href="#conteneurTricks" style="color:silver;" >
					<p><strong>SCROLL</strong></p>
					<i class="fas fa-angle-down h1"></i>
				</a>
			</div>
		<div>
	</section>

	<section id="conteneurTricks">
		<div class="m-auto d-flex flex-wrap justify-content-around" style="max-width:95%;">
			{% for figure in figures %}
				<a href="{{ path('figure',{'id':figure.id}) }}">
					<article class="card text-dark bg-secondary my-3 mx-auto" style="max-width: 350px;">
						{% if figure.illustrations is empty %}
							<!-- image par défaut-->
							<img src="../images/figures/default_figure.png" alt="default figure" style="height:135px"/>
						{% else %}
							<img src="../images/figures/illustrations/{{figure.illustrations|first.path}}" alt="{{figure.illustrations|first.path}}" style="height:135px"/>
						{% endif %}
						<div class="card-footer d-flex justify-content-between">
							<span class="h6">{{ figure.name }}</span>
							{% if app.user %}
							<div class="d-flex justify-content-around">
								<a href="{{ path('update_figure',{'id':figure.id}) }}">
									<i class="fas fa-pencil-alt mx-2"></i>
								</a>
								<a>
									<i class="fas fa-trash-alt mx-1"></i>
								</a>
							</div>
							{% endif %}
						</div>
					</article>
				</a>
			{% endfor %}
		</div>
		<div class="text-center m3">
			<button class="btn btn-dark btn-lg m-3">Voir plus de figures</button>
		</div>
		
		<a href="#conteneurPresentation">
			<i class="fas fa-angle-up"></i>
		</a>
	</section>
{% endblock %}
